<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/tailwind.css" />
    <link rel="stylesheet" href="aboutus.css">

</head>

<body class="text-gray-700">
    <section class="flex justify-center h-screen px-8 pt-6 ">
        <div>
            <h1 class="underline underline-offset-8 font-bold text-lg ">About</h1>
            <h1 class="underline underline-offset-8 font-bold text-lg pt-3">OguName.com</h1>
            <p class="pt-2 ">OguName is a web-based project to archive personal names within the ogu culture. As
                captured in the logo.
                'name' is 'Yinko' (or'oyin') in the gun language of ogu people of the west Africa coast. The project
                documents the meanings of and the roots of the names in English language </p> <br>

            <p>OguName.com is part of broader initiative to promote digital inclusion and the preservation of gun
                language. it is a contribution towards the documentation of various aspects of the people's culture
                expression, identities, and history on the worldwide web</p> <br>

            <p>Inspired by YorubaName.com project, and the pioneering work of the late ogu local historian, chief
                Theophilus
                Ola Avoseh, OguName.com is a crowdsourced platform run by volunteer culture and language enthusiasts.
            </p>
            <br>

            <p>We count on donations and supports towards sustaining this initiative</p> <br>

            <p>you can donate <a href="#" class="text-blue-700">here</a></p> <br>

            <p>Also follow us on <a href="#" class="text-blue-700">Instagram</a> and <a href="#"
                    class="text-blue-700">Facebook</a></p>
        </div>
        <div>
            <img src="../images/logo.png" />
        </div>
    </section>
</body>

</html>