<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/tailwind.css" />
    <link rel="stylesheet" href="aboutus.css">
</head>

<body class="text-grey-700 ">
    <section class="flex px-8 ">
        <article>
            <h1 class="underline underline-offset-8 font-bold text-lg">About</h1>
            <h1 class="underline underline-offset-8 font-bold text-lg pt-3">OguName.com</h1>
            <p class="pt-2">OguName is a web-based project to archive personal names within the ogu culture. As captured
                in the logo. 'name' is 'Yinko' (or 'oyin') in the gun language of ogu people of the West Africa coast.
                The
                project documents the meanings and roots of the names in English language.</p>
            <br>
            <p>OguName.com is part of a broader initiative to promote digital inclusion and preserve the gun language.
                It
                contributes to the documentation of various aspects of the people's cultural expression, identities, and
                history on the worldwide web.</p>
            <br>
            <p>Inspired by the YorubaName.com project and the pioneering work of the late ogu local historian, Chief
                Theophilus Ola Avoseh, OguName.com is a crowdsourced platform run by volunteer culture and language
                enthusiasts.</p>
            <br>
            <p>We rely on donations and support to sustain this initiative.</p>
            <br>
            <p>You can donate <a href="#" class="text-blue-700">here</a>.</p>
            <br>
            <p>Also, follow us on <a href="#" class="text-blue-700">Instagram</a> and <a href="#"
                    class="text-blue-700">Facebook</a>.</p>
        </article>
        <!-- logo -->
        <div>
            <img src="../images/logo.png" />
        </div>
    </section>

    <section class="px-6">
        <!-- our Team -->
        <div class="pb-9">
            <h1 class="underline underline-offset-6 font-bold text-lg pb-10 pt-2 ">Our Team</h1>
        </div>
        <!-- team details -->
        <div class="team-details">
            <p class="font-bold text-lg pt-3 Initiator ">Initiator</p>
        </div>
        <!-- team img and details///// -->
        <div class="flex team-details">
            <div>
                <img class="first-img" src="../images/Ellipse 54.png" alt="seun sede williams">
            </div>
            <div class="img-name">
                <p class="pt-6">Seun Sede williams</p>
                <!-- about us social media -->
                <div class="flex gap-4 icon  ">
                    <!-- social media icons -->
                    <a href="#">
                        <img src="../images/twitter.png" alt="twitter-image">
                    </a>

                    <a href="#">
                        <img src="../images/facebook.png" alt="facebook-image">
                    </a>

                    <a href="#">
                        <img src="../images/insta.png" alt="instagram-image">
                    </a>
                </div>
                <div class="flex gap-2">
                    <div>
                        <p class="px-3 pt-2">More About Seun Sede williams</p>
                    </div>
                    <div>
                        <!-- arrow down -->
                        <a href="#">
                            <img class="pt-4" src="../images/Vector.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </section>

    <!-- section 2 -->
    <section class="px-6"> <br>
        <!-- our Team -->
        <!-- <div class="pb-9">
            <h1 class="underline underline-offset-6 font-bold text-lg pb-10 pt-2 ">Our Team</h1>
        </div> -->
        <!-- team details -->
        <!-- <div class="team-details">
        </div> -->

        <!-- team img and details -->
        <div class="team-details flex flex-row">

            <div class="job">
                <p class="font-bold lexi">Lexicography & Research</p>
                <img class="img" src="../images/Ellipse 55 (3).png" alt="seun sede williams">
            </div>
            <div class="img-name">
                <p class="pt-6">Seun Sede williams</p>
                <!-- about us social media -->
                <div class="flex gap-4 icon  ">
                    <!-- social media icons -->
                    <a href="#">
                        <img src="../images/twitter.png" alt="twitter-image">
                    </a>

                    <a href="#">
                        <img src="../images/facebook.png" alt="facebook-image">
                    </a>

                    <a href="#">
                        <img src="../images/insta.png" alt="instagram-image">
                    </a>
                </div>
                <div class="flex gap-2">
                    <div>
                        <p class="px-3 pt-2">More About Seun Sede williams</p>
                    </div>
                    <div>
                        <!-- arrow down -->
                        <a href="#">
                            <img class="pt-4 arrow-down" src="../images/Vector.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="hr">
    <!-- end of section 2 -->

    <!-- section 3 -->
    <section class="px-6">
        <!-- our Team -->
        <!-- <div class="pb-9">
        <h1 class="underline underline-offset-6 font-bold text-lg pb-10 pt-2 ">Our Team</h1>
    </div> -->
        <!-- team details -->
        <!-- <div class="team-details">
            <p class="font-bold text-lg pt-3 Initiator ">Initiator</p>
        </div> -->
        <!-- team img and details -->
        <div class="team-details flex">
            <div class="job">
                <p></p>
                <img class="img" src="../images/Ellipse 55 (2).png" alt="seun sede williams">
            </div>
            <div class="img-name">
                <p class="pt-6">Seun Sede williams</p>
                <!-- about us social media -->
                <div class="flex gap-4 icon  ">
                    <!-- social media icons -->
                    <a href="#">
                        <img src="../images/twitter.png" alt="twitter-image">
                    </a>

                    <a href="#">
                        <img src="../images/facebook.png" alt="facebook-image">
                    </a>

                    <a href="#">
                        <img src="../images/insta.png" alt="instagram-image">
                    </a>
                </div>
                <div class="flex gap-2">
                    <div>
                        <p class="px-3 pt-2">More About Seun Sede williams</p>
                    </div>
                    <div>
                        <!-- arrow down -->
                        <a href="#">
                            <img class="pt-4" src="../images/Vector.png" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <hr>
    <!-- end of section 3 -->

    <!-- section 4 -->
    <section class="px-6">
        <!-- our Team -->
        <!-- <div class="pb-9">
        <h1 class="underline underline-offset-6 font-bold text-lg pb-10 pt-2 ">Our Team</h1>
    </div> -->
        <!-- team details -->
        <!-- <div class="team-details">
        <p class="font-bold text-lg pt-3 Initiator ">Initiator</p>
    </div> -->
        <!-- team img and details -->
        <div class="team-details flex">
            <div>
                <img class="img" src="../images/Ellipse 54 (1).png" alt="seun sede williams">
            </div>
            <div class="img-name">
                <p class="pt-6">Seun Sede williams</p>
                <!-- about us social media -->
                <div class="flex gap-4 icon  ">
                    <!-- social media icons -->
                    <a href="#">
                        <img src="../images/twitter.png" alt="twitter-image">
                    </a>

                    <a href="#">
                        <img src="../images/facebook.png" alt="facebook-image">
                    </a>

                    <a href="#">
                        <img src="../images/insta.png" alt="instagram-image">
                    </a>
                </div>
                <div class="flex gap-2">
                    <div>
                        <p class="px-3 pt-2">More About Seun Sede williams</p>
                    </div>
                    <div>
                        <!-- arrow down -->
                        <a href="#">
                            <img class="pt-4" src="../images/Vector.png" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <hr>
    <!-- end of section 4 -->

    <!-- section 5 -->

    <section class="px-6">
        <!-- our Team -->
        <!-- <div class="pb-9">
        <h1 class="underline underline-offset-6 font-bold text-lg pb-10 pt-2 ">Our Team</h1>
    </div> -->
        <!-- team details -->
        <!-- <div class="team-details">
        <p class="font-bold text-lg pt-3 Initiator ">Initiator</p>
    </div> -->
        <!-- team img and details -->
        <div class="team-details flex">
            <div>
                <img class="img" src="../images/Ellipse 54.png" alt="seun sede williams">
            </div>
            <div class="img-name">
                <p class="pt-6">Seun Sede williams</p>
                <!-- about us social media -->
                <div class="flex gap-4 icon  ">
                    <!-- social media icons -->
                    <a href="#">
                        <img src="../images/twitter.png" alt="twitter-image">
                    </a>

                    <a href="#">
                        <img src="../images/facebook.png" alt="facebook-image">
                    </a>

                    <a href="#">
                        <img src="../images/insta.png" alt="instagram-image">
                    </a>
                </div>
                <div class="flex gap-2">
                    <div>
                        <p class="px-3 pt-2">More About Seun Sede williams</p>
                    </div>
                    <div>
                        <!-- arrow down -->
                        <a href="#">
                            <img class="pt-4" src="../images/Vector.png" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <hr>
    <!-- end of section 5 -->

    <!-- section 6 -->

    <section class="px-6">
        <!-- our Team -->
        <!-- <div class="pb-9">
        <h1 class="underline underline-offset-6 font-bold text-lg pb-10 pt-2 ">Our Team</h1>
    </div> -->
        <!-- team details -->
        <!-- <div class="team-details">
        <p class="font-bold text-lg pt-3 Initiator ">Initiator</p>
    </div> -->
        <!-- team img and details -->
        <div class="team-details flex">
            <div class="job">
                <p class="font-bold">Web Design / Development</p>
                <img class="img" src="../images/Ellipse 54 (1).png" alt="seun sede williams">
            </div>
            <div class="img-name">
                <p class="pt-6">Seun Sede williams</p>
                <!-- about us social media -->
                <div class="flex gap-4 icon  ">
                    <!-- social media icons -->
                    <a href="#">
                        <img src="../images/twitter.png" alt="twitter-image">
                    </a>

                    <a href="#">
                        <img src="../images/facebook.png" alt="facebook-image">
                    </a>

                    <a href="#">
                        <img src="../images/insta.png" alt="instagram-image">
                    </a>
                </div>
                <div class="flex gap-2">
                    <div>
                        <p class="px-3 pt-2">More About Seun Sede williams</p>
                    </div>
                    <div>
                        <!-- arrow down -->
                        <a href="#">
                            <img class="pt-4" src="../images/Vector.png" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- end of section 6 -->

    <!-- section 7 stand alone-->

    <section class="px-6"> <br>
        <!-- our Team -->
        <!-- <div class="pb-9">
        <h1 class="underline underline-offset-6 font-bold text-lg pb-10 pt-2 ">Our Team</h1>
    </div> -->
        <!-- team details -->
        <!-- <div class="team-details">
        <p class="font-bold text-lg pt-3 Initiator ">Initiator</p>
    </div> -->
        <!-- team img and details -->
        <div class="team-details flex">
            <div class="job">
                <p class="font-bold">Onomastics/Adviser</p>
                <img class="img" src="../images/Ellipse 55 (2).png" alt="seun sede williams">
            </div>
            <div class="img-name">
                <p class="pt-6">Seun Sede williams</p>
                <!-- about us social media -->
                <div class="flex gap-4 icon  ">
                    <!-- social media icons -->
                    <a href="#">
                        <img src="../images/twitter.png" alt="twitter-image">
                    </a>

                    <a href="#">
                        <img src="../images/facebook.png" alt="facebook-image">
                    </a>

                    <a href="#">
                        <img src="../images/insta.png" alt="instagram-image">
                    </a>
                </div>
                <div class="flex gap-2">
                    <div>
                        <p class="px-3 pt-2">More About Seun Sede williams</p>
                    </div>
                    <div>
                        <!-- arrow down -->
                        <a href="#">
                            <img class="pt-4" src="../images/Vector.png" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <hr>
    <!-- end of section 7 -->

    <!-- section 8 -->
    <section class="px-6">
        <!-- our Team -->
        <!-- <div class="pb-9">
        <h1 class="underline underline-offset-6 font-bold text-lg pb-10 pt-2 ">Our Team</h1>
    </div> -->
        <!-- team details -->
        <!-- <div class="team-details">
        <p class="font-bold text-lg pt-3 Initiator ">Initiator</p>
    </div> -->
        <!-- team img and details -->
        <div class="team-details flex">
            <div>
                <img class="img" src="../images/Ellipse 54.png" alt="seun sede williams">
            </div>
            <div class="img-name">
                <p class="pt-6">Seun Sede williams</p>
                <!-- about us social media -->
                <div class="flex gap-4 icon  ">
                    <!-- social media icons -->
                    <a href="#">
                        <img src="../images/twitter.png" alt="twitter-image">
                    </a>

                    <a href="#">
                        <img src="../images/facebook.png" alt="facebook-image">
                    </a>

                    <a href="#">
                        <img src="../images/insta.png" alt="instagram-image">
                    </a>
                </div>
                <div class="flex gap-2">
                    <div>
                        <p class="px-3 pt-2">More About Seun Sede williams</p>
                    </div>
                    <div>
                        <!-- arrow down -->
                        <a href="#">
                            <img class="pt-4" src="../images/Vector.png" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <hr>
    <!-- end of section 8 -->

    <!-- section 9 -->

    <section class="px-6">
        <!-- our Team -->
        <!-- <div class="pb-9">
        <h1 class="underline underline-offset-6 font-bold text-lg pb-10 pt-2 ">Our Team</h1>
    </div> -->
        <!-- team details -->
        <!-- <div class="team-details">
        <p class="font-bold text-lg pt-3 Initiator ">Initiator</p>
    </div> -->
        <!-- team img and details -->
        <div class="team-details flex">
            <div>
                <img class="img" src="../images/Ellipse 54.png" alt="seun sede williams">
            </div>
            <div class="img-name">
                <p class="pt-6">Seun Sede williams</p>
                <!-- about us social media -->
                <div class="flex gap-4 icon  ">
                    <!-- social media icons -->
                    <a href="#">
                        <img src="../images/twitter.png" alt="twitter-image">
                    </a>

                    <a href="#">
                        <img src="../images/facebook.png" alt="facebook-image">
                    </a>

                    <a href="#">
                        <img src="../images/insta.png" alt="instagram-image">
                    </a>
                </div>
                <div class="flex gap-2">
                    <div>
                        <p class="px-3 pt-2">More About Seun Sede williams</p>
                    </div>
                    <div>
                        <!-- arrow down -->
                        <a href="#">
                            <img class="pt-4" src="../images/Vector.png" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <hr>
    <!-- end of section 9 -->

    <!-- section 10 -->
    <section class="px-6">
        <!-- our Team -->
        <!-- <div class="pb-9">
        <h1 class="underline underline-offset-6 font-bold text-lg pb-10 pt-2 ">Our Team</h1>
    </div> -->
        <!-- team details -->
        <!-- <div class="team-details">
        <p class="font-bold text-lg pt-3 Initiator ">Initiator</p>
    </div> -->
        <!-- team img and details -->
        <div class="team-details flex pt-4">
            <div>
                <img class="img" src="../images/Ellipse 54.png" alt="seun sede williams">
            </div>
            <div class="img-name">
                <p class="pt-6">Seun Sede williams</p>
                <!-- about us social media -->
                <div class="flex gap-4 icon  ">
                    <!-- social media icons -->
                    <a href="#">
                        <img src="../images/twitter.png" alt="twitter-image">
                    </a>

                    <a href="#">
                        <img src="../images/facebook.png" alt="facebook-image">
                    </a>

                    <a href="#">
                        <img src="../images/insta.png" alt="instagram-image">
                    </a>
                </div>
                <div class="flex gap-2">
                    <div>
                        <p class="px-3 pt-2">More About Seun Sede williams</p>
                    </div>
                    <div>
                        <!-- arrow down -->
                        <a href="#">
                            <img class="pt-4" src="../images/Vector.png" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <hr>
    <!-- end of section 10 -->
</body>

</html>