<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="../css/tailwind.css" />

    <title>OguName.com</title>
  </head>
  <body class="bg-[#F3F3F3]">
    <!-- first bg-div -->

    <!-- .....................first main container................................... -->

    <div class="flex flex-col justify-center align md:flex-row">
      <div class="w-full p-4 bg-gray-200">
        <div class="bg-[#FFFFFF] text-white p-4 w-full ">
          <h2 class="text-black">Approved Names</h2>
          <div class="flex">
            <div class="pt-6">
              <input
                type="text"
                class="w-full px-4 py-2 border border-gray-300 rounded"
                placeholder="search names"
              />
            </div>
          </div>

          <!-- ......................... -->
          <!-- first checkbox main div -->

          <div
            class="flex flex-col pb-4 mt-8 border-b border-gray-400 md:flex-row md:items-center"
          >
            <!-- checkbox -->
            <div class="w-full md:w-auto md:flex-grow-0">
              <!-- input (search name) ends here -->
              <input
                type="checkbox"
                class="w-5 h-5 py-2 border border-gray-300 rounded"
                placeholder="Input"
              />
            </div>
            <!-- checkbox ends here -->

            <div class="m-0 md:mt-0 md:ml-10">
              <div class="px-4 py-2 text-black">Names</div>
            </div>

            <div class="m-0 md:mt-0 md:ml-36">
              <div class="px-4 py-2 text-black">Alternate Spelling</div>
            </div>
          </div>
          <!-- first checkbox div ends -->

          <!-- second checkbox div start -->
          <div
            class="flex flex-col w-full pb-4 mt-8 border-b border-gray-400 md:flex-row md:items-center"
          >
            <!-- checkbox -->
            <div class="w-full md:w-auto md:flex-grow-0">
              <!-- input (search name) ends here -->
              <input
                type="checkbox"
                class="w-5 h-5 py-2 border border-gray-300 rounded"
                placeholder="Input"
              />
            </div>
            <!-- checkbox ends here -->

            <div class="m-0 md:mt-0 md:ml-10">
              <div class="px-4 py-2 text-black">Adande</div>
            </div>

            <div class="m-0 md:mt-0 md:ml-36">
              <div class="px-4 py-2 text-black">Athande</div>
            </div>
          </div>
          <!-- second checkbox ends here -->
          <!-- ..... -->

          <!-- third checkbox div start -->
          <div
            class="flex flex-col pb-4 mt-8 border-b border-gray-400 md:flex-row md:items-center"
          >
            <!-- checkbox -->
            <div class="w-full md:w-auto md:flex-grow-0">
              <!-- input (search name) ends here -->
              <input
                type="checkbox"
                class="w-5 h-5 py-2 border border-gray-300 rounded"
                placeholder="Input"
              />
            </div>
            <!-- checkbox ends here -->

            <div class="m-0 md:mt-0 md:ml-10">
              <div class="px-4 py-2 text-black">Adandejan</div>
            </div>
          </div>
          <!-- third checkbox div ends-->
          <!-- fourth checkbox div start -->
          <div
            class="flex flex-col pb-4 mt-8 border-b border-gray-400 md:flex-row md:items-center"
          >
            <!-- checkbox -->
            <div class="w-full md:w-auto md:flex-grow-0">
              <!-- input (search name) ends here -->
              <input
                type="checkbox"
                class="w-5 h-5 py-2 border border-gray-300 rounded"
                placeholder="Input"
              />
            </div>
            <!-- checkbox ends here -->

            <div class="m-0 md:mt-0 md:ml-10">
              <div class="px-4 py-2 text-black">Adọkun</div>
            </div>
            <div class="m-0 md:mt-0 md:ml-36">
              <div class="px-4 py-2 text-black">Adokoun</div>
            </div>
          </div>
          <!-- fourth checkbox div ends-->

          <!-- fifth checkbox div start -->
          <div
            class="flex flex-col pb-4 mt-8 border-b border-gray-400 md:flex-row md:items-center"
          >
            <!-- checkbox -->
            <div class="w-full md:w-auto md:flex-grow-0">
              <!-- input (search name) ends here -->
              <input
                type="checkbox"
                class="w-5 h-5 py-2 border border-gray-300 rounded"
                placeholder="Input"
              />
            </div>
            <!-- checkbox ends here -->

            <div class="m-0 md:mt-0 md:ml-10">
              <div class="px-4 py-2 text-black">Agbọjẹte</div>
            </div>
            <div class="m-0 md:mt-0 md:ml-36">
              <div class="px-4 py-2 text-black">Agbọdjete</div>
            </div>
          </div>
          <!-- fifth checkbox div ends-->

          <!-- sixth checkbox div start -->
          <div
            class="flex flex-col pb-4 mt-8 border-b border-gray-400 md:flex-row md:items-center"
          >
            <!-- checkbox -->
            <div class="w-full md:w-auto md:flex-grow-0">
              <!-- input (search name) ends here -->
              <input
                type="checkbox"
                class="w-5 h-5 py-2 border border-gray-300 rounded"
                placeholder="Input"
              />
            </div>
            <!-- checkbox ends here -->

            <div class="m-0 md:mt-0 md:ml-10">
              <div class="px-4 py-2 text-black">Ayihọnsu</div>
            </div>
            <div class="m-0 md:mt-0 md:ml-36">
              <div class="px-4 py-2 text-black">Aihọnsu, Aihonsou</div>
            </div>
          </div>
          <!-- sixth checkbox div ends-->

          <!-- seventh checkbox div start -->
          <div
            class="flex flex-col pb-4 mt-8 border-b border-gray-400 md:flex-row md:items-center"
          >
            <!-- checkbox -->
            <div class="w-full md:w-auto md:flex-grow-0">
              <!-- input (search name) ends here -->
              <input
                type="checkbox"
                class="w-5 h-5 py-2 border border-gray-300 rounded"
                placeholder="Input"
              />
            </div>
            <!-- checkbox ends here -->

            <div class="m-0 md:mt-0 md:ml-10">
              <div class="px-4 py-2 text-black">Agbọjẹte</div>
            </div>
            <div class="m-0 md:mt-0 md:ml-36">
              <div class="px-4 py-2 text-black">Agbọdjete</div>
            </div>
          </div>
          <!-- seventh checkbox div ends-->

          <!-- eight checkbox div start -->
          <div
            class="flex flex-col pb-4 mt-8 border-b border-gray-400 md:flex-row md:items-center"
          >
            <!-- checkbox -->
            <div class="w-full md:w-auto md:flex-grow-0">
              <!-- input (search name) ends here -->
              <input
                type="checkbox"
                class="w-5 h-5 py-2 border border-gray-300 rounded"
                placeholder="Input"
              />
            </div>
            <!-- checkbox ends here -->

            <div class="m-0 md:mt-0 md:ml-10">
              <div class="px-4 py-2 text-black">Ayihọnsu</div>
            </div>
            <div class="m-0 md:mt-0 md:ml-36">
              <div class="px-4 py-2 text-black">Aihọnsu, Aihonsou</div>
            </div>
          </div>
          <!-- eight checkbox div ends-->
          <!-- ................. -->

          <!-- .......... -->
          <!-- nineth checkbox div start -->
          <div
            class="flex flex-col pb-4 mt-8 border-b border-gray-400 md:flex-row md:items-center"
          >
            <!-- checkbox -->
            <div class="w-full md:w-auto md:flex-grow-0">
              <!-- input (search name) ends here -->
              <input
                type="checkbox"
                class="w-5 h-5 py-2 border border-gray-300 rounded"
                placeholder="Input"
              />
            </div>
            <!-- checkbox ends here -->

            <div class="m-0 md:mt-0 md:ml-10">
              <div class="px-4 py-2 text-black">Ayihọnsu</div>
            </div>
            <div class="m-0 md:mt-0 md:ml-36">
              <div class="px-4 py-2 text-black">Aihọnsu, Aihonsou</div>
            </div>
          </div>
          <!-- nineth checkbox div ends-->
          <!-- ........................... -->

          <!-- ........................ -->
          <!-- tenth checkbox div start -->
          <div
            class="flex flex-col pb-4 mt-8 border-b border-gray-400 md:flex-row md:items-center"
          >
            <!-- checkbox -->
            <div class="w-full md:w-auto md:flex-grow-0">
              <!-- input (search name) ends here -->
              <input
                type="checkbox"
                class="w-5 h-5 py-2 border border-gray-300 rounded"
                placeholder="Input"
              />
            </div>
            <!-- checkbox ends here -->

            <div class="m-0 md:mt-0 md:ml-10">
              <div class="px-4 py-2 text-black">Agbọjẹte</div>
            </div>
            <div class="m-0 md:mt-0 md:ml-36">
              <div class="px-4 py-2 text-black">Agbọdjete</div>
            </div>
          </div>
          <!-- tenth checkbox div ends-->

          <!-- eleventh checkbox div start -->
          <div
            class="flex flex-col pb-4 mt-8 border-b border-gray-400 md:flex-row md:items-center"
          >
            <!-- checkbox -->
            <div class="w-full md:w-auto md:flex-grow-0">
              <!-- input (search name) ends here -->
              <input
                type="checkbox"
                class="w-5 h-5 py-2 border border-gray-300 rounded"
                placeholder="Input"
              />
            </div>
            <!-- checkbox ends here -->

            <div class="m-0 md:mt-0 md:ml-10">
              <div class="px-4 py-2 text-black">Ayihọnsu</div>
            </div>
            <div class="m-0 md:mt-0 md:ml-36">
              <div class="px-4 py-2 text-black">Aihọnsu, Aihonsou</div>
            </div>
          </div>
          <!-- eleventh checkbox div ends-->
          <!-- ..................... -->

          <!-- .............................. -->
          <!-- twelveth checkbox div start -->
          <div
            class="flex flex-col pb-4 mt-8 border-b border-gray-400 md:flex-row md:items-center"
          >
            <!-- checkbox -->
            <div class="w-full md:w-auto md:flex-grow-0">
              <!-- input (search name) ends here -->
              <input
                type="checkbox"
                class="w-5 h-5 py-2 border border-gray-300 rounded"
                placeholder="Input"
              />
            </div>
            <!-- checkbox ends here -->

            <div class="m-0 md:mt-0 md:ml-10">
              <div class="px-4 py-2 text-black">Ayihọnsu</div>
            </div>
            <div class="m-0 md:mt-0 md:ml-36">
              <div class="px-4 py-2 text-black">Aihọnsu, Aihonsou</div>
            </div>
          </div>
          <!-- twelveth checkbox div ends-->
          <!-- ........................................ -->

          <!-- ........................................ -->
          <!-- twelveth checkbox div start -->
          <div
            class="flex flex-col pb-4 mt-8 border-b border-gray-400 md:flex-row md:items-center"
          >
            <!-- checkbox -->
            <div class="w-full md:w-auto md:flex-grow-0">
              <!-- input (search name) ends here -->
              <input
                type="checkbox"
                class="w-5 h-5 py-2 border border-gray-300 rounded"
                placeholder="Input"
              />
            </div>
            <!-- checkbox ends here -->

            <div class="m-0 md:mt-0 md:ml-10">
              <div class="px-4 py-2 text-black">Agbọjẹte</div>
            </div>
            <div class="m-0 md:mt-0 md:ml-36">
              <div class="px-4 py-2 text-black">Agbọdjete</div>
            </div>
          </div>
          <!-- twelveth checkbox div ends-->

          <!-- ....................... -->
        </div>
      </div>
      <!-- second container -->
      <div class="w-full p-4 bg-gray-200">
        <div
          class="w-full p-4 mr-5 text-white shadow-div"
        >
          <h2 class="pb-4 text-black border-b border-gray-300">Add New Name</h2>
          <!-- add new name ends here -->

          <!-- first section of input  -->
          <div class="flex flex-col justify-around mt-8 md:flex-row">
            <div class="mb-3.5">
              <h2 class="mb-3 text-black">Name (Yinko)</h2>

              <input
                type="text"
                class="w-full px-4 py-2 border border-gray-300 rounded"
                placeholder="search names"
              />
            </div>
            <div class="">
              <h2 class="w-full mb-3 text-black md:text-[100%]">
                Variant / Alternate Spelling
              </h2>

              <input
                type="text"
                class="w-full px-4 py-2 border border-gray-300 rounded"
                placeholder="search names"
              />
            </div>
          </div>
          <!-- first section of input ends here -->

          <!-- second section of input start -->

          <div
            class="flex flex-col justify-around pb-4 mt-8 text-black border-b border-gray-300 md:flex-row"
          >
            <div class="mb-3">
              <h2 class="mb-3 text-orange-500">Meaning</h2>

              <input
                type="text"
                class="w-full px-4 py-2 border border-gray-300 rounded"
                placeholder="search names"
              />
            </div>
            <div class="pb-4 text-black">
              <h2 class="mb-3 text-orange-500">Syllable</h2>

              <input
                type="text"
                class="w-full px-4 py-2 border border-gray-300 rounded"
                placeholder="search names"
              />
            </div>
          </div>
          <!-- second section of input ends here -->

          <!-- ................................ -->
          <div class="">
            <div class="pt-7">
              <div>
                <h3 class="text-black pb-7">Other Information</h3>
              </div>

              <div>
                <h3 class="pb-5 text-black">Name Explanation</h3>
                <input
                  type="text"
                  class="w-full px-4 py-4 border border-gray-300 rounded"
                  placeholder="search names"
                />
              </div>
            </div>
            <!-- .................... -->

            <div
              class="flex flex-col justify-around pb-4 mt-8 text-black border-b border-gray-300 md:flex-row"
            >
              <div class="mb-3">
                <h2 class="mb-3 text-black">Morphology</h2>

                <input
                  type="text"
                  class="w-full px-4 py-2 border border-gray-300 rounded"
                  placeholder="search names"
                />
              </div>
              <div class="pb-4">
                <h2 class="mb-3 text-black">Gloss</h2>

                <input
                  type="text"
                  class="w-full px-4 py-2 border border-gray-300 rounded"
                  placeholder="search names"
                />
              </div>
            </div>
            <!-- ......................................................... -->

             <div class="border-b border-gray-300 pb-7">
            <div class="pt-7">
              <div>
                <h3 class="block text-sm font-medium text-gray-700 pb-7">Location where name is used/given</h3>
              </div>
<!-- input section -->
                 <div class="w-full">
  <label for="location" class="block text-sm font-medium text-gray-700">Geo_Location</label>
  <div class="relative">
    <select id="location" name="location" class="block w-2/4 px-4 py-2 pr-8 mt-1 leading-tight bg-white border border-gray-300 rounded appearance-none focus:outline-none focus:ring focus:border-blue-500">
      <option value="london">London</option>
      <option value="new-york">New York</option>
      <option value="paris">Paris</option>
      <option value="tokyo">Tokyo</option>
    </select>
    <div class="absolute inset-y-0 flex items-center px-2 pointer-events-none left-64">
      <svg class="w-4 h-4 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M9 11a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5zm2 0a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5z" clip-rule="evenodd" />
      </svg>
    </div>
  </div>
</div>



<!-- input ends -->



<!-- first input section -->
        
<!-- ends here -->
<!-- ............. -->

          </div>
          <!-- new section -->
        </div>

        <div>          <h2 class="text-black">Famous People</h2>
</div>
           <div
            class="flex flex-col justify-around pb-4 mt-8 text-black md:flex-row"
          >
            <div class="mb-3">
              <h2 class="mb-3 text-orange-500">Title</h2>

              <input
                type="text"
                class="w-full px-4 py-2 border border-gray-300 rounded"
                placeholder=""
              />
            </div>
            <div class="pb-4 text-black">
              <h2 class="mb-3 text-orange-500">Name</h2>

              <input
                type="text"
                class="w-full px-4 py-2 border border-gray-300 rounded"
                placeholder="search names"
              />
            </div>
          </div>
          <!-- ................................................... -->
           </div>
           <!-- ........................................................ -->
           <div
            class="flex flex-col pb-4 mt-8 text-black border-b border-gray-300 md:ml-4 md:flex-row space-x-9"
          >
            <div class="mb-3">
              <h2 class="mb-3 text-orange-500">Twitter Handle</h2>

              <input
                type="text"
                class="w-full px-4 py-2 border border-gray-300 rounded"
                placeholder="search names"
              />
            </div>
            <div class="pb-4 text-black">

             <img src="../images/iconoir_media-image (1).svg" alt="">

             <img src="../images/png, .gif, .jpg, .jpeg only.svg" alt="">

               <div class="mt-4">
               <button class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-600">
                Button
               </button>
              </div>

            </div>
  
          </div>
          <!-- ................................................ -->
          <div>
            <div class="ml-5 pt-7">
              <h2 class="text-orange-500">Media</h2>
              <img src="../images/dashicons_media-audio.svg" alt="">
            </div>

              <div class="mt-3 ml-4">
               <button class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-600">
              Click To Add Name Pronunciation
            </button>


            </div>
            <!-- .................................................................. -->
            <div class="flex mt-7">
                 <div class="mt-3 ml-4">
               <button class="px-4 py-2 font-bold text-white bg-orange-500 rounded hover:bg-blue-600">
              Submit Name
            </button>
            </div>
               <div class="mt-3 ml-4">
               <button class="px-4 py-2 font-bold text-white bg-gray-500 rounded hover:bg-blue-600">
              Cancel
            </button>
            </div>
            </div>
          </div>
      </div>
    </div>
  </body>
</html>
