<!DOCTYPE html>
<html lang="en" class="dark">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CSS -->
  <link rel="stylesheet" href="../css/tailwind.css" />

  <title>OguName.com</title>

  <script>
    function checkDark() {
      if (localStorage.theme === 'dark') {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    }
  </script>
</head>

<body class="font-inter dark:bg-black text-[#333333] dark:text-[#F7F7F7]">
  <!-- navbar -->
  <nav class="">
    <!-- top -->
    <div class="py-4 gap-4 border-b px-4 flex flex-col items-center border-slate-100 dark:border-[#CBCBCB] md:px-20 md:grid md:grid-cols-3">
      <div class="md:col-span-2">
        <div class="flex gap-4">
          <div class="flex gap-2">
            <img src="../images/darkMail.png" alt="dark mode mail">
            <div class="flex flex-col">
              <span class="font-extrabold text-base uppercase">Email</span>
              <span class="font-semibold text-xs">team@oguname.com</span>
            </div>
          </div>
          <div class="flex gap-2">
            <img src="../images/darkPhone.png" alt="dark mode phone">
            <div class="flex flex-col">
              <span class="font-extrabold text-base uppercase">Phone</span>
              <span class="font-semibold text-xs">0705 369 5974, 0907 897 5478</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-end py-2 md:py-0">
        <div class="flex items-center gap-8 sm:border-l sm:border-orange-500 px-3">
          <div class="">
            <img src="../images/darkTwitter.png" alt="dark twitter" class="w-6 cursor-pointer hover:text-slate-500" />
          </div>
          <div class="">
            <img src="../images/darkFacebook.png" alt="dark facebook" class="w-6 cursor-pointer hover:text-slate-500" />
          </div>
          <div class="">
            <img src="../images/darkInstagram.png" alt="dark instagram"
              class="w-6 cursor-pointer hover:text-slate-500" />
          </div>
        </div>
      </div>
    </div>
    <!-- bottom -->
    <div class="pt-4 gap-2 px-4 md:items-center">
      <div class="pb-4 flex justify-between items-center md:px-20">
        <div class="cursor-pointer">
          <img src="../images/darkLogo.png" alt="OguName Logo" class="h-[71px]" />
        </div>

        <div class="flex items-center gap-6 text-[#454444] dark:text-[#F7F7F7] font-semibold text-[10px]">
          <span class="cursor-pointer hover:text-gray-500">Donate</span>
          <span class="cursor-pointer hover:text-gray-500">Blog</span>
        </div>
      </div>

      <div class="relative flex items-center justify-end">
        <div class="md:pr-20">
          <div class="flex items-center gap-4 rounded-full py-2 px-4 bg-[#F59A17] text-white">
            <img src="../images/sortIcon.png" alt="Sort Icon">
            <span class="cursor-pointer text-[12px] font-normal">List of Names Alphabetically</span>
          </div>
        </div>
        <div
          class="absolute right-6 bg-white dark:bg-[#333333] outline outline-1 outline-[#999999] w-[323px] top-12 p-6 ml-10 md:px-6 px-4 rounded-[10px] shadow-xl grid grid-cols-4 gap-x-4 gap-y-6"
        >
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Aa
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Bb
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Dd
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Ee
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Ẹẹ
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Ff
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Gg
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Gb
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Hh
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Ii
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Jj
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Kk
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Ll
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Mm
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Nn
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Oo
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Ọọ
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Pp
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Ss
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Ṣṣ
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Tt
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Uu
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Vv
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Ww
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Yy
          </div>
          <div
            class="bg-[#3A3A3A] text-[#F7F7F7] w-[60px] h-[40px] flex justify-center items-center font-normal text-[14px] cursor-pointer">
            Zz
          </div>
        </div>
      </div>
      
  </nav>

  <div class="flex flex-col items-center px-4 md:px-20">
    <h1 class="font-bold md:text-[96px] text-[48px] text-center text-[#00000075] dark:text-[#F7F7F7]">
      OguName<span class="md:text-[48px] text-[24px]">.com</span>
    </h1>
    <span class="md:text-[24px] text-[16px] font-bold md:-mt-4 -mt-2 text-[#33333380] dark:text-[#f3f3f380]">Over 1,000
      Gun Names and growing</span>

    <div
      class="searchbar-container grow flex px-4 items-center border rounded-3xl mt-4 w-full md:max-w-[600px] dark:bg-[#3A3A3A] dark:text-[#999999]">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
        <path fill-rule="evenodd"
          d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
          clip-rule="evenodd" />
      </svg>
      <input type="text" name=""
        class="focus:outline-none p-3 focus:bg-white placeholder:text-xs w-full dark:bg-[#3A3A3A] dark:text-[#999999]"
        placeholder="Type any Gun name here and press enter" />
    </div>
  </div>
  </div>
  <div class="flex items-center gap-6 justify-center py-4 text-xs md:text-sm lg:gap-8 font-bold">
    <div class="flex items-center gap-2 cursor-pointer hover:text-slate-500">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 text-[#F59A17]">
        <path
          d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
        <path
          d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
      </svg>
      <span class="underline underline-offset-4 text-[#278DE1]">Home</span>
    </div>
    <div class="flex items-center gap-2 cursor-pointer hover:text-slate-500">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
        <path fill-rule="evenodd"
          d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 01-3.476.383.39.39 0 00-.297.17l-2.755 4.133a.75.75 0 01-1.248 0l-2.755-4.133a.39.39 0 00-.297-.17 48.9 48.9 0 01-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97zM6.75 8.25a.75.75 0 01.75-.75h9a.75.75 0 010 1.5h-9a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H7.5z"
          clip-rule="evenodd" />
      </svg>

      <span>About Us</span>
    </div>
    <div class="flex items-center gap-2 cursor-pointer hover:text-slate-500">
      <img src="../images/donate.png" alt="donate" class="w-4" />
      <span>Donate</span>
    </div>
    <div class="flex items-center gap-2 cursor-pointer hover:text-slate-500">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
        <path fill-rule="evenodd"
          d="M4.125 3C3.089 3 2.25 3.84 2.25 4.875V18a3 3 0 003 3h15a3 3 0 01-3-3V4.875C17.25 3.839 16.41 3 15.375 3H4.125zM12 9.75a.75.75 0 000 1.5h1.5a.75.75 0 000-1.5H12zm-.75-2.25a.75.75 0 01.75-.75h1.5a.75.75 0 010 1.5H12a.75.75 0 01-.75-.75zM6 12.75a.75.75 0 000 1.5h7.5a.75.75 0 000-1.5H6zm-.75 3.75a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5H6a.75.75 0 01-.75-.75zM6 6.75a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h3a.75.75 0 00.75-.75v-3A.75.75 0 009 6.75H6z"
          clip-rule="evenodd" />
        <path d="M18.75 6.75h1.875c.621 0 1.125.504 1.125 1.125V18a1.5 1.5 0 01-3 0V6.75z" />
      </svg>

      <span>Blog</span>
    </div>
  </div>
  <p class="text-[16px] font-extrabold text-[#33333380] text-center mb-6 dark:text-[#F7F7F7]">
    Join other users and add a new name
  </p>
  <div class="flex justify-center items-center">
    <button class="rounded-full px-4 py-2 text-white bg-[#F59A17] hover:bg-[#F59A17] text-[14px]">
      SUBMIT A NAME
    </button>
  </div>

  <footer class="bg-[#F7F7F7] dark:bg-[#333333] pb-10 pt-6 px-4 md:px-20 mt-20">
    <p class="text-[16px] text-center text-[#33333380] dark:text-[#f7f7f7] font-bold">
      Our Key Supporters
    </p>
    <div class="flex items-center md:my-4 my-2 md:gap-16 gap-4">
      <div class="flex flex-col items-center">
        <img src="../images/darkFooterLogo1.png" alt="">
        <span class="md:text-[14px] text-[10px] text-[#333333] dark:text-[#f7f7f7] font-extrabold">ELECTRONS-BOOK</span>
      </div>
      <img src="../images/darkFooterLogo2.png" alt="">
    </div>
    <div class="flex items-center w-full">
      <div class="h-1 bg-white w-full"></div>
      <p class="md:text-[12px] text-[8px] text-[#999999] dark:text-[#F7F7F7] font-normal text-center w-full">
        2023 oguname.com. All rights reserved
      </p>
      <div class="h-1 bg-white w-full"></div>
    </div>
  </footer>
</body>

</html>