<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="../css/tailwind.css" />

    <title>OguName.com</title>
  </head>
  <body class="font-inter">
    <!-- navbar -->
    <nav class="relative shadow">
      <!-- top - should disappear on scroll -->
      <div
        id="sticky"
        class="flex flex-col items-center gap-4 px-4 py-4 border-b border-slate-100 md:px-20 md:grid md:grid-cols-3"
      >
        <div class="md:col-span-2">
          <div class="flex gap-4">
            <div class="flex gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="p-2 rounded-full w-9 h-9 bg-slate-50"
              >
                <path
                  d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"
                />
                <path
                  d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"
                />
              </svg>
              <div class="flex flex-col">
                <span class="text-base font-extrabold uppercase">Email</span>
                <span class="text-xs font-semibold">team@oguname.com</span>
              </div>
            </div>
            <div class="flex gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="p-2 rounded-full w-9 h-9 bg-slate-50"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
                  clip-rule="evenodd"
                />
              </svg>

              <div class="flex flex-col">
                <span class="text-base font-extrabold uppercase">Phone</span>
                <span class="text-xs font-semibold"
                  >0705 369 5974, 0907 897 5478</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-end py-2 md:py-0">
          <div
            class="flex items-center gap-8 px-3 sm:border-l sm:border-orange-500"
          >
            <div class="">
              <img
                src="../images/twitter.png"
                alt="twitter"
                class="w-6 cursor-pointer hover:text-slate-500"
              />
            </div>
            <div class="">
              <img
                src="../images/facebook.png"
                alt="twitter"
                class="w-6 cursor-pointer hover:text-slate-500"
              />
            </div>
            <div class="">
              <img
                src="../images/insta.png"
                alt="twitter"
                class="w-6 cursor-pointer hover:text-slate-500"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- bottom - should be fixed on scroll -->
      <div id="fixed" class="z-50 w-full bg-white">
        <div
          id=""
          class="gap-2 px-6 pt-1 bg-white md:grid md:grid-cols-8 md:px-20 md:items-center"
        >
          <div class="md:col-span-2">
            <div class="cursor-pointer">
              <img
                src="../images/logo.png"
                alt="OguName Logo"
                class="h-[71px]"
              />
            </div>
          </div>
          <div class="col-span-4 static">
            <!-- Active searchbar -->
            <div class="fixed top-20 right-0 left-0 z-20 flex justify-center">
              <div
                class="border flex flex-col rounded-3xl w-full searchbar-container md:max-w-[700px] pb-6 px-4 bg-white mx-8 md:mx-0"
              >
                <div
                  class="flex grow px-4 items-center w-full border-b border-slate-200 relative"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <input
                    type="text"
                    name=""
                    class="focus:outline-none p-3 focus:bg-white placeholder:text-xs w-full"
                    placeholder="Type any Gun name here and press enter"
                  />

                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 cursor-pointer hover:text-slate-400"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                  </svg>
                </div>

                <button
                  class="flex grow items-center px-4 w-full hover:bg-slate-100"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <span class="p-3">Aduje</span>
                </button>
                <button
                  class="flex grow items-center px-4 w-full hover:bg-slate-100"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <span class="p-3">Adome</span>
                </button>
                <button
                  class="flex grow items-center px-4 w-full hover:bg-slate-100"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <span class="p-3">Aduke</span>
                </button>
                <button
                  class="flex grow items-center px-4 w-full hover:bg-slate-100"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <span class="p-3">Adogo</span>
                </button>
                <button
                  class="flex grow items-center px-4 w-full hover:bg-slate-100"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <span class="p-3">Adono</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex items-center justify-center gap-6 py-4 text-xs font-bold md:text-sm md:pb-2 lg:gap-8"
        >
          <div
            class="flex items-center gap-2 cursor-pointer hover:text-slate-500"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-4 h-4"
            >
              <path
                d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z"
              />
              <path
                d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z"
              />
            </svg>
            <span>Home</span>
          </div>
          <div
            class="flex items-center gap-2 cursor-pointer hover:text-slate-500"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-4 h-4"
            >
              <path
                fill-rule="evenodd"
                d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 01-3.476.383.39.39 0 00-.297.17l-2.755 4.133a.75.75 0 01-1.248 0l-2.755-4.133a.39.39 0 00-.297-.17 48.9 48.9 0 01-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97zM6.75 8.25a.75.75 0 01.75-.75h9a.75.75 0 010 1.5h-9a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H7.5z"
                clip-rule="evenodd"
              />
            </svg>

            <span>About Us</span>
          </div>
          <div
            class="flex items-center gap-2 cursor-pointer hover:text-slate-500"
          >
            <img src="../images/donate.png" alt="donate" class="w-4" />
            <span>Donate</span>
          </div>
          <div
            class="flex items-center gap-2 cursor-pointer hover:text-slate-500"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-4 h-4"
            >
              <path
                fill-rule="evenodd"
                d="M4.125 3C3.089 3 2.25 3.84 2.25 4.875V18a3 3 0 003 3h15a3 3 0 01-3-3V4.875C17.25 3.839 16.41 3 15.375 3H4.125zM12 9.75a.75.75 0 000 1.5h1.5a.75.75 0 000-1.5H12zm-.75-2.25a.75.75 0 01.75-.75h1.5a.75.75 0 010 1.5H12a.75.75 0 01-.75-.75zM6 12.75a.75.75 0 000 1.5h7.5a.75.75 0 000-1.5H6zm-.75 3.75a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5H6a.75.75 0 01-.75-.75zM6 6.75a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h3a.75.75 0 00.75-.75v-3A.75.75 0 009 6.75H6z"
                clip-rule="evenodd"
              />
              <path
                d="M18.75 6.75h1.875c.621 0 1.125.504 1.125 1.125V18a1.5 1.5 0 01-3 0V6.75z"
              />
            </svg>

            <span>Blog</span>
          </div>
        </div>
      </div>
    </nav>

    <!-- Content -->
    <div class="px-4 mt-8 md:px-20">
      <div class="relative flex items-center justify-end md:right-18">
        <div
          class="flex items-center gap-4 rounded-full py-2 px-4 bg-[#F59A17] text-white"
        >
          <img src="../images/sortIcon.png" alt="Sort Icon" />
          <span class="cursor-pointer text-[12px] font-normal"
            >List of Names Alphabetically</span
          >
        </div>
      </div>
      <!-- box-card -->
      <div class="grid grid-cols-1 gap-4 mt-3 md:grid-cols-12">
        <div
          class="col-span-8 p-4 text-black border rounded-xl border-black-700 bg-white-500 shadow-div box-shadow"
        >
          <div class="pb-5 pl-16 border-b pt-7 border-gray-20">
            <div class="flex justify-between">
              <div class="flex flex-col items-center justify-between">
                <div class="flex">
                  <h2 class="text-3xl font-bold">Mẹdenu</h2>
                  <img src="../images/Vector (2).svg" alt="" />
                </div>
                <div class="flex">
                  <p class="italic text-gray-400">syllable: Mẹ-de-nu</p>
                  <img src="../images/Vector (3).svg" alt="" />
                </div>
              </div>

              <div class="flex flex-row gap-10">
                <img src="../images/Vector.svg" alt="" />
                <img src="../images/Vector (1).svg" alt="" />
              </div>
            </div>
          </div>

          <div class="pt-5 pl-16">
            <h3 class="text-lg font-bold">Meaning of Mẹdenu</h3>
            <p class="italic text-gray-400">
              Someone's property if not another's
            </p>
          </div>
          <div class="pt-12 pl-16">
            <h3 class="text-lg font-bold">Morphology</h3>
          </div>

          <div class="pt-20 pl-16">
            <h3 class="text-lg font-bold">Gloss</h3>
          </div>

          <div class="pl-16 pb-28 pt-14">
            <h3 class="text-lg font-bold">Geo_Location</h3>
          </div>
        </div>
        <div
          class="col-span-8 p-4 text-black border rounded-xl md:col-span-4 border-black-700 bg-white-500 shadow-div box-shadow"
        >
          <div class="pb-5 pl-8 pt-7">
            <h2 class="text-3xl font-bold">Related Names</h2>
          </div>
          <div class="pt-8 pl-8">
            <p>Mẹdesẹ</p>
          </div>
          <div class="pt-5 pl-8">
            <p>Mẹdenu</p>
          </div>
          <div class="pt-5 pl-8">
            <p>Mẹdewhenu</p>
          </div>
          <div class="pt-5 pl-8">
            <p>Mẹdeyọnmi</p>
          </div>
          <div class="pt-8 pb-5 pl-8">
            <h2 class="text-3xl font-bold">Famous People</h2>
            <p class="pt-2 italic text-gray-400">
              No famous people have been added for this name
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="bg-[#F7F7F7] pb-10 pt-6 px-4 md:px-20 mt-20">
      <p class="text-[16px] text-center text-[#33333380] font-bold">
        Our Key Supporters
      </p>
      <div class="flex items-center gap-4 my-2 md:my-4 md:gap-16">
        <div class="flex flex-col items-center">
          <img src="../images/footerLogo1.png" alt="" />
          <span class="md:text-[14px] text-[10px] text-[#333333] font-extrabold"
            >ELECTRONS-BOOK</span
          >
        </div>
        <img src="../images/footerLogo2.png" alt="" />
      </div>
      <div class="flex items-center w-full">
        <div class="w-full h-1 bg-white"></div>
        <p
          class="md:text-[12px] text-[8px] text-[#999999] font-normal text-center w-full"
        >
          2023 oguname.com. All rights reserved
        </p>
        <div class="w-full h-1 bg-white"></div>
      </div>
    </footer>

    <script src="../js/index.js"></script>
  </body>
</html>
