<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="../../css/tailwind.css" />

    <title>OguNames.com</title>
  </head>
  <body class="font-inter">
    <div class="shadow">
      <!-- navbar -->
      <!-- top -->
      <div class="px-20 py-4 grid grid-cols-6 gap-4 border-b border-slate-100">
        <div class="col-span-5">
          <div class="flex gap-4">
            <div class="flex gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-9 h-9 rounded-full p-2 bg-slate-50"
              >
                <path
                  d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"
                />
                <path
                  d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"
                />
              </svg>
              <div class="flex flex-col">
                <span class="font-extrabold text-base uppercase">Email</span>
                <span class="font-semibold text-xs">team@oguname.com</span>
              </div>
            </div>
            <div class="flex gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-9 h-9 rounded-full p-2 bg-slate-50"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
                  clip-rule="evenodd"
                />
              </svg>

              <div class="flex flex-col">
                <span class="font-extrabold text-base uppercase">Phone</span>
                <span class="font-semibold text-xs"
                  >0705 369 5974, 0907 897 5478</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center gap-8 border-l border-orange-500 px-3">
          <div class="">
            <img src="../../images/twitter.png" alt="twitter" class="w-6" />
          </div>
          <div class="">
            <img src="../../images/facebook.png" alt="twitter" class="w-6" />
          </div>
          <div class="">
            <img src="../../images/insta.png" alt="twitter" class="w-6" />
          </div>
        </div>
      </div>
      <!-- bottom -->
      <div class="px-20 py-4 grid grid-cols-8 gap-2">
        <div class="col-span-2">
          <div class="cursor-pointer">
            <img
              src="../../images/logo.png"
              alt="OguName Logo"
              class="h-[71px]"
            />
          </div>
        </div>
        <div class="col-span-4">
          <div
            class="searchbar-container grow flex px-4 items-center border rounded-3xl"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-5 h-5"
            >
              <path
                fill-rule="evenodd"
                d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                clip-rule="evenodd"
              />
            </svg>
            <input
              type="text"
              name=""
              class="focus:outline-none p-3 focus:bg-white placeholder:text-xs w-full"
              placeholder="Type any Gun name here and press enter"
            />
          </div>
          <div
            class="flex items-center gap-8 justify-center mt-4 text-sm font-bold"
          >
            <div
              class="flex items-center gap-2 cursor-pointer hover:text-slate-500"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-4 h-4"
              >
                <path
                  d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z"
                />
                <path
                  d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z"
                />
              </svg>
              <span>Home</span>
            </div>
            <div
              class="flex items-center gap-2 cursor-pointer hover:text-slate-500"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-4 h-4"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 01-3.476.383.39.39 0 00-.297.17l-2.755 4.133a.75.75 0 01-1.248 0l-2.755-4.133a.39.39 0 00-.297-.17 48.9 48.9 0 01-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97zM6.75 8.25a.75.75 0 01.75-.75h9a.75.75 0 010 1.5h-9a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H7.5z"
                  clip-rule="evenodd"
                />
              </svg>

              <span>About Us</span>
            </div>
            <div
              class="flex items-center gap-2 cursor-pointer hover:text-slate-500"
            >
              <img src="../../images/donate.png" alt="donate" class="w-4" />
              <span>Donate</span>
            </div>
            <div
              class="flex items-center gap-2 cursor-pointer hover:text-slate-500"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-4 h-4"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.125 3C3.089 3 2.25 3.84 2.25 4.875V18a3 3 0 003 3h15a3 3 0 01-3-3V4.875C17.25 3.839 16.41 3 15.375 3H4.125zM12 9.75a.75.75 0 000 1.5h1.5a.75.75 0 000-1.5H12zm-.75-2.25a.75.75 0 01.75-.75h1.5a.75.75 0 010 1.5H12a.75.75 0 01-.75-.75zM6 12.75a.75.75 0 000 1.5h7.5a.75.75 0 000-1.5H6zm-.75 3.75a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5H6a.75.75 0 01-.75-.75zM6 6.75a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h3a.75.75 0 00.75-.75v-3A.75.75 0 009 6.75H6z"
                  clip-rule="evenodd"
                />
                <path
                  d="M18.75 6.75h1.875c.621 0 1.125.504 1.125 1.125V18a1.5 1.5 0 01-3 0V6.75z"
                />
              </svg>

              <span>Blog</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
